In [41]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
from pathlib import Path
import geopandas as gpd
from scipy import spatial

In [42]:
# Import BlueBikes Stations
filepath_bluebikes_stations = ".././02 Data/BlueBikes/"
bluebikes_stations_df = pd.read_csv(filepath_bluebikes_stations + 'current_bluebikes_stations.csv', header=1)
bluebikes_stations_df.head()

,Number,Name,Latitude,Longitude,District,Public,Total docks,Deployment Year
0,K32015,1200 Beacon St,42.344149,-71.114674,Brookline,Yes,15,2021.0
1,W32006,160 Arsenal,42.364664,-71.175694,Watertown,Yes,11,2021.0
2,A32019,175 N Harvard St,42.363796,-71.129164,Boston,Yes,18,2014.0
3,S32035,191 Beacon St,42.380323,-71.108786,Somerville,Yes,19,2018.0
4,C32094,2 Hummingbird Lane at Olmsted Green,42.288870,-71.095003,Boston,Yes,17,2020.0

In [43]:
bluebikes_stations_cambridge_df=bluebikes_stations_df[bluebikes_stations_df['District']=='Cambridge'].reset_index().drop('index',axis=1)
bluebikes_stations_cambridge_df

,Number,Name,Latitude,Longitude,District,Public,Total docks,Deployment Year
0,M32026,359 Broadway - Broadway at Fayette Street,42.370803,-71.104412,Cambridge,Yes,23,2013.0
1,M32054,699 Mt Auburn St,42.375002,-71.148716,Cambridge,Yes,24,2018.0
2,M32060,700 Huron Ave,42.380788,-71.154129,Cambridge,Yes,19,2018.0
3,M32064,75 Binney St,42.365507,-71.080138,Cambridge,Yes,19,2019.0
4,M32058,84 Cambridgepark Dr,42.393600,-71.143941,Cambridge,Yes,27,2018.0
...,...,...,...,...,...,...,...,...
70,M32069,Smith Pl at Wilson Rd,42.392397,-71.150583,Cambridge,Yes,19,2020.0
71,M32048,Third at Binney,42.365445,-71.082771,Cambridge,Yes,15,2016.0
72,M32040,University Park,42.362648,-71.100061,Cambridge,Yes,18,2015.0
73,M32057,Vassal Lane at Tobin/VLUS,42.385368,-71.137757,Cambridge,Yes,19,2018.0
74,M32050,Verizon Innovation Hub 10 Ware Street,42.372509,-71.113054,Cambridge,Yes,19,2017.0

In [44]:
bluebikes_stations_cambridge_df.Latitude = bluebikes_stations_cambridge_df.Latitude.round(6)
bluebikes_stations_cambridge_df

,Number,Name,Latitude,Longitude,District,Public,Total docks,Deployment Year
0,M32026,359 Broadway - Broadway at Fayette Street,42.370803,-71.104412,Cambridge,Yes,23,2013.0
1,M32054,699 Mt Auburn St,42.375002,-71.148716,Cambridge,Yes,24,2018.0
2,M32060,700 Huron Ave,42.380788,-71.154129,Cambridge,Yes,19,2018.0
3,M32064,75 Binney St,42.365507,-71.080138,Cambridge,Yes,19,2019.0
4,M32058,84 Cambridgepark Dr,42.393600,-71.143941,Cambridge,Yes,27,2018.0
...,...,...,...,...,...,...,...,...
70,M32069,Smith Pl at Wilson Rd,42.392397,-71.150583,Cambridge,Yes,19,2020.0
71,M32048,Third at Binney,42.365445,-71.082771,Cambridge,Yes,15,2016.0
72,M32040,University Park,42.362648,-71.100061,Cambridge,Yes,18,2015.0
73,M32057,Vassal Lane at Tobin/VLUS,42.385368,-71.137757,Cambridge,Yes,19,2018.0
74,M32050,Verizon Innovation Hub 10 Ware Street,42.372509,-71.113054,Cambridge,Yes,19,2017.0

In [45]:
# Save the results of bluebikes stations in Cambridge
bluebikes_path=Path('./Input Database/bluebikes_stations_cambridge.csv')
bluebikes_stations_cambridge_df.to_csv(bluebikes_path,index=False)