In [34]:
# Import libraries
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
from pathlib import Path
import geopandas as gpd
from scipy import spatial

In [35]:
# Import places data from SafeGraph
filepath_safegraph_places = ".././02 Data/SafeGraph Data/Places/"
safegraph_places_df = pd.read_csv(filepath_safegraph_places + 'cambridge_somerville_places.csv')

In [36]:
# Import patterns data from SafeGraph
filepath_safegraph_patterns = ".././02 Data/SafeGraph Data/Patterns/"
safegraph_patterns_df = pd.read_csv(filepath_safegraph_patterns + 'cambridge_somerville_patterns.csv')

In [37]:
# Keep the interesting columns of SafeGraph places and patterns dataframes
places_df=safegraph_places_df[['placekey','latitude','longitude','top_category']]
patterns_df = safegraph_patterns_df[['placekey']]

In [38]:
# Merge patterns with places by placekey and keep: placekey, lat, lon, top category
merged_df=patterns_df.merge(places_df[['placekey','latitude','longitude', 'top_category']], how='left', left_on='placekey', right_on='placekey')
merged_df.head()

,placekey,latitude,longitude,top_category
0,232-222@62j-sk3-p9z,42.399298,-71.111383,Drinking Places (Alcoholic Beverages)
1,zzy-222@62j-sjv-85f,42.373312,-71.119151,Restaurants and Other Eating Places
2,zzw-224@62j-sj2-s5z,42.363572,-71.101336,Restaurants and Other Eating Places
3,22m-222@62j-sjv-bc5,42.373153,-71.120120,"Museums, Historical Sites, and Similar Institu..."
4,257-222@62j-sj2-m6k,42.371619,-71.099913,Automobile Dealers

In [39]:
# Keep points of interest related to food
topcategory_list =['Drinking Places (Alcoholic Beverages)', 'Restaurants and Other Eating Places', 'Specialty Food Services']
filtered_df = merged_df[merged_df['top_category'].isin(topcategory_list)]
filtered_df=filtered_df.reset_index().drop('index', axis =1)
filtered_df.head()

,placekey,latitude,longitude,top_category
0,232-222@62j-sk3-p9z,42.399298,-71.111383,Drinking Places (Alcoholic Beverages)
1,zzy-222@62j-sjv-85f,42.373312,-71.119151,Restaurants and Other Eating Places
2,zzw-224@62j-sj2-s5z,42.363572,-71.101336,Restaurants and Other Eating Places
3,245-222@62j-sj3-9zz,42.379954,-71.094380,Drinking Places (Alcoholic Beverages)
4,22m-222@62j-sk3-2c5,42.384101,-71.119812,Restaurants and Other Eating Places

In [40]:
# Filter restaurants in the desired area
lat_min = 42.35217552009351 
lat_max = 42.38008690523708 
lon_min = -71.12714994786728    
lon_max = -71.08267810377765 

restaurants_df = filtered_df[
    filtered_df["longitude"].between(lon_min, lon_max) & 
    filtered_df["latitude"].between(lat_min, lat_max) ]

restaurants_df = restaurants_df.reset_index().drop('index',axis=1)

In [41]:
# Save the results of restaurants in Cambridge
restaurants_path=Path('./Input Database/restaurants_cambridge.csv')
restaurants_df.to_csv(restaurants_path,index=False)

In [42]:
# Save the results of restaurants in Cambridge
restaurants_path = Path('./Input Database/restaurants_tangible_table.csv')
restaurants_df.to_csv(restaurants_path,index=False)