In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
from pathlib import Path
import geopandas as gpd
from scipy import spatial

In [2]:
# Import CAMBRIDGE Open Street Map Data to be able to assign exact location to the origin of the trips: 
# Transportation Utilities, Civic Institutional Buildings
filepath_osm_cambridge = ".././02 Data/OSM/Cambridge/"
osm_amenities_df = pd.read_csv(filepath_osm_cambridge + 'cambridgeamenitypois_c.csv')

In [3]:
osm_fuel_df=osm_amenities_df[osm_amenities_df['amenity']=='fuel'].reset_index().drop('index',axis=1)
osm_fuel_df.head()

           id amenity                name        lat        lon  capacity
0   345423100    fuel              Sunoco  42.390655 -71.090726       NaN
1   356119414    fuel               Mobil  42.400962 -71.135517       NaN
2   945798665    fuel                Gulf  42.385834 -71.113804       NaN
3   945798666    fuel    Cumberland Farms  42.385854 -71.113936       NaN
4  1107057571    fuel  Belmont Street Gas  42.375934 -71.158031       NaN

In [4]:
osm_fuel_df['capacity'].unique()

array([nan])

In [5]:
drop_list=[9307561244,345423100,2547125297,2377575147,1915267811,9301640141,9826872460,7021099092,1107057571]
osm_fuel_df=osm_fuel_df[osm_fuel_df['id'].isin(drop_list)==False].sort_values(by=['lon']).reset_index().drop('index',axis=1)
osm_fuel_df

           id amenity              name        lat        lon
0  1559532734    fuel     Freshpond Gas  42.386478 -71.140629
1   356119414    fuel             Mobil  42.400962 -71.135517
2  9307559577    fuel          Speedway  42.391233 -71.122369
3   945798666    fuel  Cumberland Farms  42.385854 -71.113936
4   945798665    fuel              Gulf  42.385834 -71.113804
5  9806690295    fuel               NaN  42.369200 -71.110424
6  1708499129    fuel             Shell  42.372955 -71.093535

In [9]:
osm_fuel_df['lat'].unique()

array([42.3864783, 42.4009625, 42.3912332, 42.3858538, 42.385834 ,
       42.3692002, 42.3729551])

In [28]:
# Save the results of gas stations
fuel_path=Path('./Input Database/gasstations.csv')
osm_fuel_df.to_csv(fuel_path,index=False)